<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper file: 실행 할 쿼리 문을 저장하는 파일. 테이블 하나당 한개씩 작성
namespace: 작업하는 테이블들을 구분해주기 위한 식별자 -->
<mapper namespace="com.whereismy.mapper.UserMapper">

  <select id="check" resultType="User" parameterType="User">
      select id, pass from user where id =#{id} and pass =#{pass}
  </select>

    <insert id="saveRefreshToken" parameterType="string">
        insert into token values(#{id},#{refreshToken})
    </insert>

  <insert id="register" parameterType="User">
      insert into user values(#{id}, #{pass}, #{name}, #{address}, #{tel})
  </insert>

  <select id="selectOne" parameterType="string" resultType="User">
  	select * from user where id=#{id}
  </select>
  
  <update id="modify" parameterType="User">
      update user set name =#{name}, address = #{address}, tel = #{tel} where id = #{id}
  </update>
    
  <delete id="delete" parameterType="String">
      delete from user where id=#{id}
  </delete>

    <delete id="logout" parameterType="String">
        delete from token where user_id=#{id}
    </delete>

    <select id="getRefreshToken" parameterType="string" resultType="string">
        select refresh_token from token where user_id=#{id}
    </select>

</mapper>






